
:root{
    --clr-primary-400: #FD841F;
    --clr-secondary-400:  #13004D;
    
    --clr-accent-900: hsl(238, 64%, 16%);

    --clr-ntural-900: hsl(0, 0%, 0%);
    --clr-ntural-400: #333;
    --clr-ntural-300:hsl(0, 0%, 71%);
    --clr-ntural-200:#f9f9f9;
    --clr-ntural-100:hsl(0, 0%, 100%);


    --ff-primary: 'Poppins', sans-serif;
    --ff-secondary: 'Inter', sans-serif;
    --ff-accent: 'Rubik', sans-serif;

    --ff-body: var(--ff-primary);
    --ff-heading: var(--ff-secundary);
    --ff-btn: var(--ff-accent);

    --fw-l: 400;
    --fw-n: 500;
    --fw-m: 600;
    --fw-b: 700;
    --fw-vb:900;

    --fs-100: .75rem;/*12*/
    --fs-200: .87rem;/*14*/
    --fs-300: .937rem;/*15*/
    --fs-400: 1rem;/*16*/
    --fs-500: 1.125rem;/*18*/
    --fs-600: 1.65rem;/*26*/
    --fs-700: 2.25rem;/*36*/
    --fs-800: 2.62rem;/*42*/
    --fs-900: 4rem;/*44*/

    --fs-body: var(--fs-400);
    --fs-primary-heading: var(--fs-900);
    --fs-secondary-heading: var(--fs-800);
    --fs-third-heading: var(--fs-700);
    --fs-fourth-heading: var(--fs-600);

    --fs-nav: var(--fs-200);
    --fs-button: var(--fs-200);

}

/* utility classes */

/* Margin Top */

.margin-top-0 {
	margin-top: 0px !important;
}

.margin-top-10 {
	margin-top: 10px !important;
}

.margin-top-20 {
	margin-top: 20px !important;
}

.margin-top-30 {
	margin-top: 30px !important;
}

.margin-top-40 {
	margin-top: 40px !important;
}

.margin-top-50 {
	margin-top: 50px !important;
}

.margin-top-60 {
	margin-top: 60px !important;
}


/* Colors */

.color-1 {
	color: #f306a0;
}

.color-2 {
	color: #d60bfb;
}

.color-3 {
	color: #d8be10;
}

.color-4 {
	color: #0fd28a;
}

.color-5 {
	color: #f97400;
}

.color-6 {
	color: #08a6f3;
}

.color-7{
    color: gradient(circle, rgba(63,94,251,1) 0%, rgba(252,70,107,1) 100%);
}

.fs-900{
    font-size: var(--fs-900);
}

.color-400{
    color: var(--clr-primary-400);
}


/* Global Style */


body {
    font-size: 16px;
    font-weight: var(--fw-n);
    line-height: 24px;
    letter-spacing: 1px;
    height: 100%;
    font-family: var(--ff-body);
    background-color: var(--clr-ntural-200) ;
}

html,
body {
    height: 100%
}

::selection {
    background-color: var(--clr-primary-400);
    color:var(--clr-ntural-100);
}

::-moz-selection {
    background-color: var(--clr-primary-400);
    color:var(--clr-ntural-100);
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: var(--ff-heading);
}

a {
    text-decoration: none;
    cursor: pointer;
}

img {
    width: 100%;
}

a:hover {
    text-decoration: none;
}

a:focus {
    outline: none;
    text-decoration: none;
}

p {
    line-height: 32px;
}

ul,
li {
    margin: 0;
    padding: 0;
}



.no-padding {
    padding: 0
}

.section-space-padding {
    padding: 50px 0px;
}

/* buttons */

.button {
	border: none;
	font-family: var(--ff-btn);
	font-size: inherit;
	color: inherit;
	background: none;
	cursor: pointer;
	padding: 20px 40px;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-weight:  var(--fw-m);
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.button:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}


.button:before {
	font-family: 'FontAwesome';
	font-style: normal;
	font-weight:  var(--fw-l);
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	position: relative;
	-webkit-font-smoothing: antialiased;
}

.button-style {
	border-radius: 50px;
	border: 2px solid  var(--clr-primary-400);
	color: var( --clr-ntural-900);
	overflow: hidden;
}




.button-style:hover,
.button-style:active,
.button-style:focus {
	background:  var(--clr-primary-400);
	color:var(--clr-ntural-100) !important;
}

.button-style:before {
	position: absolute;
	height: 100%;
	font-size: 125%;
	line-height: 3.5;
	color: var(--clr-ntural-100);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.button-style:active:before {
	color: var(--clr-primary-400);
}



.button-style-dark {
	border: 2px solid var(  --clr-secondary-400) !important;
	color: var(  --clr-ntural-900);
}

.button-style-dark:hover {
	border: 2px solid var(  --clr-primary-400) !important;
}



/* social media */

.menu-social{
    list-style-type: none;
    width: 40px;
    position: fixed;
    bottom: 0px;
    z-index: 999;
    }

 

    .left{
        left: 40px;
    }

    .right{
        right: 40px;
    }
    .menu-social li{
        padding: 15px 0;
        text-align: center;
    }
        

    .right a{
        writing-mode: vertical-rl;
       letter-spacing: 0.1em;
       text-transform: capitalize;
    }
    

    .icon-size{
        font-size: 2.2rem !important;
    }
  .icon{
    cursor: pointer;
    color: var(--clr-secondary-400) !important;
    transition: 0.3s;
  }
  .icon:hover {
    color: var(--clr-primary-400)!important;
    transform: translate(0, -5px);
 }


  .menu-social::after {
    content: "";
    display: block;
    width: 1px;
    height: 90px;
    margin: 0px auto;
    background-color:var(--clr-secondary-400);
}


@-webkit-keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}

@keyframes spin {
    0%   {
        -webkit-transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        transform: rotate(0deg);
    }
    100% {
        -webkit-transform: rotate(360deg);
        -ms-transform: rotate(360deg);
        transform: rotate(360deg);
    }
}






/* Home Section and Navigation Menu */

.home-section {
    height: 100%;
}

.home-section-background {
    position: relative;
    height: 100%;
    z-index: 1;
}

.home-section-background:after {
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

.display-table {
    display: table;
    width: 100%;
    height: 100%;
}

.display-table-cell {
    display: table-cell;
    vertical-align: middle;
}


.section-title {
    text-align: center;
}

.section-title h2 {
    margin-top: 0;
    font-weight: var(--fw-m);
    border-bottom: 4px double var(--clr-primary-400);
	border-radius: 20px;
    font-size: 30px;
    margin: 0 auto;
    padding: 10px 0;
    width: 250px;
	margin-bottom: 30px;
}

.section-title p {
    font-weight: var(--fw-l);
	line-height: 25px;
	margin-bottom: 40px;
}

.bg-cover {
	background-repeat: no-repeat;
}


.home-section-background h2 {
    color: var(--clr-primary-400);
    font-size: 50px;
    font-weight:  var(--fw-b);
    letter-spacing: 5px;
    margin: 0;
}

.home-section-background p {
    letter-spacing: 2px;
    font-size: 16px;
	margin-top: 20px;
	margin-bottom: 20px;
    max-width: 80ch;
}

.clr-praimary{
    color: var(--clr-secondary-400);
}

.typed-cursor{
    opacity: 1;
    -webkit-animation: blink 0.7s infinite;
    -moz-animation: blink 0.7s infinite;
    animation: blink 0.7s infinite;
}

@keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-webkit-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

@-moz-keyframes blink{
    0% { opacity:1; }
    50% { opacity:0; }
    100% { opacity:1; }
}

.header-top-area {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    z-index: 999;
    -webkit-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

.logo {
    padding-top: 28px;
    width: 100px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    cursor: pointer;
}

.logo a {
    display: block;
    color: var(--clr-primary-400);
    text-transform: uppercase;
    letter-spacing: 6px;
    font-weight:  var(--fw-vb);
    font-size: 14px;
}
.navigation-menu{
    padding-top: 28px;
}
.navigation-menu .navbar-nav li a {
    color: var(--clr-secondary-400);
    text-transform: uppercase;
    font-size: 13px;
    letter-spacing: 1px;
    padding: 30px 15px;
    -webkit-transition: .3s;
    transition: .3s;
    font-weight: var(--fw-n);
}

.navigation-menu .navbar-nav li a:hover {
    background: none;
    color: var(--clr-primary-400);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.nav li a:focus,
.nav li a:hover {
    background: none;
    color: var(--clr-primary-400);
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navbar {
    margin: 0;
}

.navigation-background {
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
    background: rgb(255, 255, 255);
}

.navigation-background .logo {
    width: 70px;
    padding-top: 18px;
    -webkit-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.navigation-background .navigation-menu .navbar-nav li a {
    color:var(--clr-secondary-400);
    padding: 10px 15px;
    -webkit-transition: .3s;
    transition: .3s;
}

.navigation-background .navigation-menu .navbar-nav li a:hover {
    color: var(--clr-primary-400);
}



/* About Me */

.about-section {
	overflow: hidden;
    
}


.about-me h2 {
	padding: 0px 50px;
}

.about-me p {
	padding: 1px;
	font-size: 16px;
    max-width: 50ch;
    word-wrap: break-word;
}

.project-section .img-responsive{
    margin: 0 16px;
    border-radius: 10px;
}

.container-portfolio{
    width: 800px;
    padding: 50px;
}

.project-deatils  {
	padding: 0 60px;
}

.links a{
    color: var(--clr-primary-400);
    text-transform: capitalize;
    transition: 0.3s;
    padding: 0 15px;
}

.links a:hover{
    color: var(--clr-secondary-400);   
}

/* Portfolio */


.portfolio-inner .mix {
    display: none;
}

ul.portfolio {
    padding: 0;
    list-style: none;
    margin-top: 30px;
    margin-left: 8px;
    text-align: center;
}

ul.portfolio li {
    display: inline-block;
    padding: 8px 12px;
    margin: 0 8px;
    text-transform: capitalize;
    font-size: 14px;
    font-weight: var(--fw-l);
    color:var( --clr-ntural-400);
    border: none;
    cursor: pointer;
    font-size: 13px;
}

ul.portfolio li:hover {
    color: var( --clr-ntural-900);
    border: none;
}

ul.portfolio li.active {
    color:var(--clr-ntural-100);
    background-color: var(--clr-primary-400);
    padding: 5px 20px;
    border-radius: 20px;
    box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
}

.portfolio .item {
    margin-top: 30px;
    position: relative;

}

.portfolio .item img {
    width: 100%;
    border-radius: 5%;
}

.item {
    border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s;
}

.item {
    border-radius: 50%;
    -webkit-transition: .3s;
    transition: .3s;
}


.portfolio .item:hover a:before{
  top: 0;
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  -webkit-transition: all 400ms ease-in-out;
          transition: all 400ms ease-in-out;
}

.portfolio .item a:before{
  content: "";
  position: absolute;
  font-size: 25px;
  opacity: 0;
  background-color: rgba(255, 255, 255, 0.208);
  border-radius: 5%;
  width: 100%;
  height: 100%;
  -webkit-transition: all 400ms ease-in-out;
          transition: all 400ms ease-in-out;
}

.portfolio .item a:hover:before{
  opacity: 1;
}

.mfp-image-holder .mfp-close, .mfp-iframe-holder .mfp-close {
	margin-top: 40px;
    font-size: 50px;
    background-color: var(--clr-primary-400);
    width: 44px;
	right: 0px;
}

.mfp-zoom-out-cur, .mfp-zoom-out-cur .mfp-image-holder .mfp-close {
    cursor: inherit;
}


/* Services */

.services-section {
  background-color: var(--clr-ntural-200);
}



.services-section .services-detail {
  border-radius: 50px;
  border-bottom-right-radius: 20%;
  background-color:var(--clr-ntural-100);
  box-shadow: 0px 1px 2px 0px rgba(90, 91, 95, 0.15);
  transition: all 0.3s ease-in-out;
  position: relative;
  top: 0px;
  padding: 50px 40px 50px 40px;
  margin-top: 32px;
  min-height: 218px;
}
.services-section .services-detail h3{
    font-size: 18px;
    text-transform: capitalize;
}

.services-section .services-detail:hover {
  border-bottom-right-radius: 4px;
  box-shadow: 0px 16px 22px 0px rgba(90, 91, 95, 0.3);
  top: -5px;
}

.service-icon {
  font-size: 42px;
}



/* Call to Action */

.call-to-action {
    padding:100px 0;
}

.call-to-action h2 {
	font-size: 40px;
    color: var(--clr-secondary-400);
}



/* Footer */

.footer-section {
    padding-top: 100px;
    padding-bottom: 20px;
}


.footer-section  p{
    font-size: 14px;
    color: var(--clr-secondary-400);
    transition: 0.3s;
    
    }
    

 .footer-section  a:hover {
        color: var(--clr-secondary-400);
     transform: translate(0, -5px);
  }

  .menu-social-footer{
    margin-bottom: 50px;
   display: none;
}

  .menu-social-footer li{
    padding: 0 15px;
}

.justify-content-center{
    display: flex;
    justify-content: center;
}
  
  

/* Responsive */

@media only screen and (min-width: 767px) and (max-width: 991px) {
    .navigation-menu .navbar-nav li a {
        padding: 30px 11px;
        font-size: 12px;
    }
    .navigation-background .navigation-menu .navbar-nav li a {
        padding: 30px 11px;
        font-size: 12px;
    }
	.navigation-background .logo {
		padding-top: 28px;
	}
}


@media only screen and (max-width: 991px) {
    .about-section img {
        position: inherit;
     }
	 
     .call-to-action h2 {
        font-size: 20px;
	 }
	 
     .space-set {
        margin-top: 80px;
	 }
	 
     .footer-section p {
         text-align: center !important;
     }
}


@media only screen and (max-width: 767px) {
    .sm-center{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        text-align: center;
    }

    .scroll-to-top {
        right: 40px !important;
    }

    
    .icon-bar{
        display: none;
    }

    .menu-social-footer{
        display: block;
    }

    .navbar-toggle .icon-bar {
        background: #070000;
    }
    .navigation-background .navbar-toggle .icon-bar {
        background: var( --clr-ntural-900);
    }
    .navbar-toggle {
        margin-right: 0px;
        margin-top: -10px;
    }
    .navbar {
        min-height: 0px;
        text-align: center;
    }
    .navigation-menu .navbar-nav li a {
        padding: 20px 15px;
    }
    .navigation-menu .navbar-nav li a:hover {
        color: var(--clr-primary-400);
    }
    .navigation-background .logo{
        padding-top: 5px;
    }
    .navigation-background .navigation-menu{
        padding-top: 0;
    }

    .navigation-background .navbar-toggle {
        margin-top: -60px;
      }

    .navigation-background .navigation-menu .navbar-nav li a:hover {
        color: var(--clr-primary-400);
    }
    .navigation-background .navigation-menu .navbar-nav li a {
        padding: 11px 15px;
    }
    .navigation-background .navigation-menu .navbar-toggle ,
    .navigation-background .navigation-menu .navbar-toggle .logo {
        padding: 20px 15px;
    }
    .navbar-fixed-bottom .navbar-collapse,
    .navbar-fixed-top .navbar-collapse {
        max-height: 420px;
    }
    .navbar-toggle {
        margin-top: -95px;
    }
    .navbar-collapse {
        background: var( --clr-ntural-100);
    }
    .navigation-background .navbar-collapse {
        background: rgba(255, 255, 255, 0.9);
    }
    .home-section-background {
        padding-top: 120px;
    }
    .home-section-background h2 {
        font-size: 22px;
    }
    .section-title h2 {
        font-size: 22px;
    }
    .testimonial-word {
        padding: 0;
    }
    .testimonial-carousel-list {
        margin-top: 0px;
    }
    .statistics-center {
        margin-left: 20%;
	}
    .call-to-action h2 {
        font-size: 18px;
        line-height: 35px;
	}
    .contact-us-detail {
        margin-bottom: 30px;
    }
}


@media only screen and (max-width: 555px) {

	.social-icon li a {
         width: 40px;
         height: 40px;
         line-height: 40px;
         font-size: 20px;
      }
	  
     .section-title h2 {
         font-size: 16px;
       }
	   
      .section-title h2 {
         font-weight: var( --fw-n);
         width: 200px;
     }
	 
      .section-title p {
         font-weight: var( --fw-l);
         font-size: 12px;
      }
	  
     .home-section-background h2 {
         font-size: 18px;
      }
	  
     .home-section-background p {
         font-size: 12px;
      }
}


@media only screen and (max-width: 449px) {
     .button {
          padding: 15px 30px;
          font-weight: var( --fw-m);
          font-size: 10px;
	  }
	  
     .button-style:before {
          display: none;
	   }
	
}


/* Scroll To Top */

.scroll-to-top {
    background-color: var(--clr-primary-400);
    border-radius: 10%;
    display: none;
    width: 50px;
    height: 50px;
    font-size: 25px;
    line-height: 50px;
    text-align: center;
    color:var(--clr-ntural-100);
    position: fixed;
    right: 80px;
    bottom: 40px;
    z-index: 999;
    transition: 0.3s;
}

.scroll-to-top:hover,
.scroll-to-top:focus {
    background-color:#f97400da;
    color: var(--clr-secondary-400);
}